{% extends 'converter/base.html' %}
{% load staticfiles %}
{% block content %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1024">

        <link href="https://yastatic.net/s3/translate/v2.185/css/main.css" rel="stylesheet" type="text/css">
        <link href="https://yastatic.net/s3/translate/v2.185/css/tr_text.css" rel="stylesheet" type="text/css">

        
        <script id="listboxTemplate" type="text/template">
        <div class="listbox-option listbox-option_checkbox state-selected state-unselectable" data-value="value" unselectable="on"></div>
        </script>
        <script id="listboxTemplate2" type="text/template"><div class="listbox-column" unselectable="on"></div></script>
        <script id="langTagsTemplate" type="text/template"><span class="listbox-option-tag listbox-option-tag_new">new</span><span class="listbox-option-tag listbox-option-tag_beta">&beta;</span><span class="listbox-option-tag listbox-option-tag_alpha">&alpha;</span></script>
    </head>
    
    <body> 
        <div id="header" class="header"><h2><a> B@d Tr@nsl@tor </a></h2></div>
        
    <div class="main">
            <div class="container container_main">
                <div class="item item_left">
                    <div class="panel" style=" margin-left: 20px; margin-right: 10px;">
                        <h8 id="src_lang" style="font-family: 'Lobster'; font-size: 15px;"> Исходный текст (английский)</h8>

                </div>

                <div id="textbox" class="textwrapper state-empty" >
                    <style>
                    .textwrapper {
                        border: 3px solid #668EE3;
                        position: relative;
                        width: 570px; 
                        height: 200px;
                        resize: none; 
                        margin-top: -50px;
                    }
                    </style>

                    <div class="textbox">
                    <div class="container">

                    {% csrf_token %}
                    <p><textarea id="inputter" class="form-control" placeholder="" name="text" style="font-family: 'Lobster'; font-size: 15px; color: black; width: 540px; height: 70px; margin-top: 20px; resize: none"></textarea></p>
                    <p><input id="send_button" class="btn btn-link btn-lg btn-block" type="submit" style="padding: -10px; margin-top: 20px; font-family: 'Lobster'; font-size: 15px; line-height: 0.4; width: 540px"></p>
                    
                    </div>
                    </div>
                </div>
            </div>

                <div class="item item_right">
                    <div class="panel" style=" margin-left: 20px; margin-right: 10px;">
                        <h8 id="trgt_lang" style="font-family: 'Lobster'; font-size: 15px;"> Перевод (русский)</h8>

                </div>
                    <div id="textbox2" class="textwrapper">
                    <div class="container">
                    <p><textarea id="outputter" class="form-control" placeholder="" name="text" style="font-family: 'Lobster'; font-size: 15px; color: black; width: 540px; height: 70px; margin-top: 20px; resize: none">{{ text }}</textarea></p>
                    </div>
                    </div>
                </div>
            </div>

        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/tr_text.js' %}"></script>
        <script src="{% static 'js/extra.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="static/js/jquery-3.2.1.slim.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}  