{% extends 'converter/base.html' %}
{% load staticfiles %}
{% block content %}


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1024">
  <link rel="stylesheet" href="{% static 'css/converter.css' %}">
</head>

<body>
<div id="header" class="header"><h2><a> Translation memes </a></h2></div>


<img src="/static/img/01.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/02.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/03.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/04.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/05.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/06.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/07.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/08.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/09.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/10.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/11.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">
<img src="/static/img/12.jpg" class="img-thumbnail" alt="Responsive image" style="margin: 10px">

        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <h3><a href="#top" style="font-family: 'Lobster', cursive;">Go to top</a></h3>
</body>
{% endblock %}